<div class="top-container">

</div>

<div class="inner-container">
  <div class="jumbotron" id="header">
    <h1 id="sign-up">Post something</h1>
  </div>

<%= render 'form', picture: @picture %>

<% link_to 'Back', pictures_path%>
