// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(https://static1.squarespace.com/static/501bc155c4aaab201611329c/t/56a971bb76d99c20662e01f4/1453945277317/code.jpg?format=1500w) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background: #757F9A;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Quicksand', sans-serif;
}

#sign-up {
  // color: blue;
  margin: 0 auto ;
}
.navbox {
  // display: flex;
}
.inner-container {
  background-color: rgba(161, 217, 255, 0.8);
  border-radius: 5px;
  // padding-top: 5em;
  margin: 5em auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#header {
  // background-color: #A1D9FF;
  width: 90%;
  margin: 30px auto;
  text-align: center;
  border-radius: 5px;
}
.new-pic {
  padding: 1.5em;
}
.form-group {
  font-size: 1.5em;
  width: 90%;
  margin: 20px auto ;
}
.btn {
  margin: 20px 0;
}
#login {
  font-size: 1.5em;
  height: 3em;
  // background-color: white;
  text-align: right;
  // margin:  0 50px 0;
  padding-top: 15px;
  border-bottom: 1.5px solid lightgrey;
  opacity: 0.9;
}
.label{
  color: black;
}
.form-control {
  margin-top: 10px;
}
.logo {
  // border: 1px solid black;
  // box-sizing: content-box;
  width: 300px;
  height: 52px;
  margin-top: -10px;
}
a:hover {
  // opacity: .99;
}
#navbar-right{
  float: right;
  // justify-content: flex-end;
}
.new-pic {
  padding: 0 20px;
}
#navbar-left {
  float: left;
}
.main-box {
  margin: 0 auto;
}
.row{
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.post {
  // display: inline-block;
  font-size: 1.3em;
  // border: 2px solid #FAFAFA;
  box-shadow: 0 3px 4px rgba(34, 25, 25, 0.4);
  margin: 50px auto;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background-color: rgba(161, 217, 255, 0.8);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: 40%;
  height: 400px;
  border-radius: 5px;

  // text-align: center;
}
.post-title {
  font-size: 1.5em;
  font-weight: 600;
}
.post img:hover {

  opacity: 0.3; /* 1 = 100%, 0 = 0% */
  /* or the drop-shadow effect */
  box-shadow: 0 1px 8px black; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
}
img:hover {
  box-shadow: 0 1px 8px black; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
}

.post img {
  margin: 10px;
  width: 400px;
  height: 300px;
  // padding: 20px;
  box-shadow: 0 3px 4px rgba(34, 25, 25, 0.4);
  border-radius: 5px;
}

// .fa-search-plus {
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;
// }
.middle {
  // transition: .5s ease;
  opacity: 0;
  // position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%)
}
.container .middle {
  opacity: 1;
}
#bottom {
  opacity: 0.9;
  height: 50px;
}
#navbar-bottom-right li {
  display: inline-block;
  float: right;
  padding-right: 30px;
}
.show-img {
  width: 70%;
  border-radius: 5px;
}
.top-container {
  height: 40px;
}
strong{
  font-family: Quicksand;
}
.img-container {
margin-bottom: 100px;
}
.img-title{
  font-size: 2.5em;
  font-weight: 400;
}
.img-description{
  // border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  width: 70%;
  border-radius: 5px;
  background-color: rgba(161, 217, 255, 0.8);
}
.img-description p {
  line-height: 2;
}
.img-description-text{
  font-size: 1.2em;
}
.img-description-text a{
  font-size: 1.2em;
  color: black;
}
.inner-comments{
  border: 1px dotted grey;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}
#comment-form label{
  // padding-top: 10px;
  margin-top: 20px;
  // height: 30em;
  // width: 100px;
}
#comment-form textarea{
  height: 100px;
  width: 90%;
  margin-bottom: 5px;
}
#comments{
margin-left: 0;
}

.new-form textarea {
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
  
.social a {
    padding: 10px 10px;
    // width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
